/* CSS Document */

/* Small Desktops and Landscapes Tablets */

@media screen and (max-width: 1200px){
	
	/* @group Global */
	
	#header nav ul li a{ padding: 0 10px; font-size: 14px; }
	
	/* @end */
	
}

/* All mobile devices */

@media screen and (max-width: 1023px) {
	
	#home #top{ margin-top: 77px; }
	
	#header{ position: fixed; height: 77px !important; z-index: 1000; left: 0; top: 0; }
	#header div.menu-mobile{
		position: absolute;
		right: 30px;
		top: 50%;
		margin-top: -16px;
		width: 32px;
		height: 32px;
		background: url(../images/menu-mobile.png) no-repeat;
		background-size: contain;
		cursor: pointer;
	}
	#header nav{
		float: none;
		position: absolute;
		right: 0;
		top: 80%;
		background: #373736;
		-webkit-opacity: 0;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 400ms ease;
		-moz-transition: all 400ms ease;
		-ms-transition: all 400ms ease;
		-o-transition: all 400ms ease;
		transition: all 400ms ease;
	}
	#header.menu-open nav{
		-webkit-opacity: 1;
		opacity: 1;
		visibility: visible;
		top: 100%;
	}
	#header nav ul{ padding: 10px 0; }
	#header nav ul li{ display: block; padding: 5px 0; }
	#header nav ul li a{  padding: 5px 20px; line-height: 1.4; text-align: center; border: 0; }
	
	#proyecto-int #descripcion div.texto{ margin-top: 25px; }
	
	#lightbox form{ margin-top: 20px; }
	#lightbox.oficinas form input.submit{ margin-top: 0px; }
	
}


/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1023px) {
	
	.grid-container{ padding-left: 30px; padding-right: 30px; }
	.fancybox-prev span,
	.fancybox-next span{
		width: 50px !important;
		height: 58px !important;
		margin-top: -29px !important;

	}
	
}

/* Mobile */

@media screen and (max-width: 767px) {
	
	/* @group Global */
	
	body{ font-size: 12px; }
	.titulo{ font-size: 20px; margin-bottom: 10px; }
	.bajada{ font-size: 14px; }
	.section{ padding: 30px 0; }
	.slick-prev,
	.slick-next,
	.fancybox-prev span,
	.fancybox-next span,
	.ms-nav-prev,
	.ms-nav-next{
		width: 35px !important;
		height: 43px !important;
		margin-top: -21px !important;
		-webkit-background-size: 9px 17px !important;
		background-size: 9px 17px !important;
	}
	.fancybox-close{
		top: 10px;
		right: 10px;
		width: 28px;
		height: 29px;
		-webkit-background-size: 28px 29px !important;
		background-size: 28px 29px !important;	
	}
	#back-to-top{ display: none; }
	div.panes iframe{ height: 160px; }
	form label.checkbox{ margin-right: 5px; }
	.grid-container{ padding-left: 20px; padding-right: 20px; }
	
	/* @end */
	
	/* @group Header */
	
	#header{ height: 57px !important; }
	#header h1.logo{ width: 125px; }
	#header nav ul li{ padding: 5px 0; }
	#header div.menu-mobile{ right: 20px; }
	
	/* @end */
	
	/* @group Home */
	
	#home #top{ background: none; margin-top: 57px; }
	#home #masterslider{ display: none; }
	#top img.fondo{ display: block; }
	#top a.fono{ display: none; }
	#top form{
		position: static;
		right: auto;
		top: auto;
		background: #154289;
	}
	
	#proyecto div.info div.img{
		position: relative;
		width: 100%;
		height: 300px;	
	}
	#proyecto div.item{ margin: 30px 0; padding: 0; }
	#proyecto div.info div.texto{ padding: 30px 20px; }
	
	#servicios{ font-size: 14px; padding-top: 20px; }
	#servicios div.item{ margin-top: 10px; }
	#servicios div.item img{ width: 50px; height: auto; }
	
	#tour iframe{ height: 250px; }
	
	#ubicacion #map_canvas{ height: 250px; }
	
	/* @end */
	
	/* @group Interior de Proyecto */
	
	#proyecto-int #masterslider div.ms-caption{ font-size: 18px; padding: 10px 15px; left: 10px !important; width: 250px; }
	#proyecto-int #masterslider div.ms-caption br{ display: none; }
	
	/* @end */
	
	/* @group Lightbox */
	
	#lightbox h2.titulo{ margin: 30px 0 0; }
	#lightbox div.info{ text-align: center; margin-top: 10px;  }
	#lightbox div.info h3.titulo{ text-align: center; }
	#lightbox div.info img.emplazamiento{ display: none; }
	#lightbox form h3{ font-size: 16px; }
	
	/* @end */
	
	/* @group Footer */
	
	#footer{ padding: 25px 0; }
	#footer ul{ margin: 20px 0; }
	#footer ul li img{ display: block; margin: 5px auto; }
	
	/* @end */
		
}
