
/* CSS Document */

/* @group Fonts */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,700italic,400italic,300italic,500);


/* @end */

/* @group Reset */
 
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video, button{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main{ display: block; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

html, textarea{ overflow: auto; }
a{ text-decoration: none; outline: 0; }
input, textarea, button{ margin: 0; padding: 0; border: 0; outline: 0; }
a, input[type=button], input[type=submit], button, label{ cursor: pointer; }
h1, h2, h3, h4, h5, h6{ font-weight: normal; }
b, strong{ font-weight: bold !important; }
i, em{ font-style: italic !important; }
small {font-size: 75%;}
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup{ top: -0.5em; }
sub{ bottom: -0.25em; }
abbr, acronym{ border-bottom: 1px dotted; cursor: help; }
ins{ text-decoration :none; }
.clear, .clear5, .clear10, .clear15, .clear20, .clear25, .clear30, .clear40, .clear50, .clear55, .clear60, .clear80, .clear100{ clear: both; height: 0; }
div.clear5{ height: 5px; }
div.clear10{ height: 10px; }
div.clear15{ height: 15px; }
div.clear20{ height: 20px; }
div.clear25{ height: 25px; }
div.clear30{ height: 30px; }
div.clear40{ height: 40px; }
div.clear50{ height: 50px; }
div.clear55{ height: 55px; }
div.clear60{ height: 60px; }
div.clear80{ height: 80px; }
div.clear100{ height: 100px; }
 
/* @end */

/* @group Estilos Globales */

html, body{ overflow: auto; }
body{ font: 16px 'Roboto', sans-serif; color: #575757; background: #ebebeb; }
body.light{ background: #fff; }
h1, h2, h3, h4, h5, h6{ font-weight: bold;  }
.alignleft{ float: left !important; }
.alignright{ float: right !important; }
.aligncenter{ display: block; margin: 0 auto; }
.alignmiddle{ vertical-align: middle; }
.textleft{ text-align: left !important; }
.textright{ text-align: right !important; }
.textcenter{ text-align: center !important; }
.uppercase{ text-transform: uppercase; }
hr{ border: 0; border-top: 1px solid #ccc; height: 1px; }
.overflow{ overflow: hidden; position: relative; }
a{
	color: #2e9cd7;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
a img{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;	
}
a.icon img{ margin-left: 5px; }
a:hover{ color: #2957a0; }
a:hover img{
	
}
.wow{
	-webkit-opacity: 0;
	opacity: 0;	
}
.wow.nofade, .ie9 .wow{
	-webkit-opacity: 1;
	opacity: 1;	
}
img{ max-width: 100%; height: auto; }
.parallax-mirror img{ max-width: inherit; }
#back-to-top{
	display: block;
	width: 42px;
	height: 42px;
	background: #fff url(../images/scrolltop.png) no-repeat center center;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: fixed;
	opacity: 0;
	right: 20px;
	bottom: -42px;
	visibility: hidden;
	z-index: 1000;
}
#back-to-top.visible{
	bottom: 20px;
	opacity: .3;
	visibility: visible;	
}
#back-to-top.visible:hover{ opacity: 1; }

/* Loader */

#loader{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background: #111;
	text-align: center;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
body.loaded #loader{
	-webkit-opacity: 0;
	opacity: 0;
	visibility: hidden;
	z-index: -1;	
}

.cssload-loader {
	width: 47px;
	height: 47px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	background-color: #2957A0;
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -23px 0 0 -23px;
	
}
.cssload-loader,
.cssload-loader:before,
.cssload-loader:after {
	animation: 1.15s infinite ease-in-out;
		-o-animation: 1.15s infinite ease-in-out;
		-ms-animation: 1.15s infinite ease-in-out;
		-webkit-animation: 1.15s infinite ease-in-out;
		-moz-animation: 1.15s infinite ease-in-out;
}
.cssload-loader:before,
.cssload-loader:after {
	width: 100%; 
	height: 100%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.cssload-loader:before,
.cssload-loader:after {
		content: "";
}

.cssload-loader {
		animation: cssload-animation 1.15s infinite linear;
		-o-animation: cssload-animation 1.15s infinite linear;
		-ms-animation: cssload-animation 1.15s infinite linear;
		-webkit-animation: cssload-animation 1.15s infinite linear;
		-moz-animation: cssload-animation 1.15s infinite linear;
}



@keyframes cssload-animation {
	0% {	 transform: rotate(0deg); border-radius: 50%; }
	50% {	transform: rotate(90deg); border-radius: 0%; }
	100% { transform: rotate(180deg); border-radius: 50%; }
}

@-o-keyframes cssload-animation {
	0% {	 -o-transform: rotate(0deg); border-radius: 50%; }
	50% {	-o-transform: rotate(90deg); border-radius: 0%; }
	100% { -o-transform: rotate(180deg); border-radius: 50%; }
}

@-ms-keyframes cssload-animation {
	0% {	 -ms-transform: rotate(0deg); border-radius: 50%; }
	50% {	-ms-transform: rotate(90deg); border-radius: 0%; }
	100% { -ms-transform: rotate(180deg); border-radius: 50%; }
}

@-webkit-keyframes cssload-animation {
	0% {	 -webkit-transform: rotate(0deg); border-radius: 50%; }
	50% {	-webkit-transform: rotate(90deg); border-radius: 0%; }
	100% { -webkit-transform: rotate(180deg); border-radius: 50%; }
}

@-moz-keyframes cssload-animation {
	0% {	 -moz-transform: rotate(0deg); border-radius: 50%; }
	50% {	-moz-transform: rotate(90deg); border-radius: 0%; }
	100% { -moz-transform: rotate(180deg); border-radius: 50%; }
}

/* Botones */

.button{
	background: #333;
	color: #fff;
	padding: 10px 15px;
	font-size: 14px;
	font-weight: bold;	
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.button:hover{
	background: #252525;
}

ul.tabs{ display: block; text-align: center; margin-bottom: 15px; }
ul.tabs li{ display: inline; margin: 0 3px; }
ul.tabs li a{
	display: inline-block;
	color: #2957a0;
	padding: 10px 15px;
	font-weight: bold;	
}
ul.tabs li a.current{
	background: #2957a0;
	color: #fff;
}

/* Formularios */

form{ color: #6c6c6c; }
form p{ margin-top: 20px; font-size: 12px; text-align: right; }
form .inputbox, form textarea, form select{
	font: 14px 'Roboto', sans-serif;
	color: #9c9c9c;
	width: 100%;
	height: 40px;
	padding: 7px 15px;
	background: none;
	border: 2px solid #d7d7d7;
	position: relative;
	outline: 0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}
form .inputbox:focus{ }
form ::-webkit-input-placeholder{ color: #9c9c9c; -webkit-transition: all 400ms ease; }
form ::-moz-placeholder{ color: #9c9c9c; transition: all 400ms ease; }
form :-ms-input-placeholder{ color: #9c9c9c; transition: all 400ms ease; }
form :-moz-placeholder{ color: #9c9c9c; -moz-transition: all 400ms ease; }
form .requerido{ color: red; }
form div.input-wrapper{ margin-bottom: 15px; position: relative; z-index: 1; }
form div.input-wrapper.focus .inputbox{ }
form div.input-wrapper.focus ::-webkit-input-placeholder{  }
form div.input-wrapper.focus ::-moz-placeholder{  }
form div.input-wrapper.focus :-ms-input-placeholder{  }
form div.input-wrapper.focus :-moz-placeholder{ }
form div.input-wrapper.half{ width: 47%; float: left; }
form textarea{ height: 140px; resize: none; }
form div.checkboxs{ margin-top: 30px; float: left; }
form label{ color: #9c9c9c; font-size: 16px; }
form label.checkbox{ display: inline-block; margin-right: 16px; font-size: 18px; }
form label.checkbox input{ position: relative; top: 5px; width: 18px; height: 18px; margin-right: 1px; }
form label.checkbox img{ margin: 0 2px; }
form label.checkbox strong{ font-size: 16px; }
form a.recuperar{
	font-size: 10px;
	position: absolute;
	right: 0;
	top: 0;
}
form div.msg-exito{ display: none; text-align: center; font-size: 16px; font-weight: bold; }
form .submit{
	margin-top: 10px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}


/* Contenido */ 

.titulo{ color: #252525; font-size: 30px; text-align: center; font-weight: bold; margin-bottom: 15px; }
.titulo span{ font-weight: 300; }
.bajada{ text-align: center; font-size: 16px; margin-bottom: 15px; font-weight: normal; }
.fullwidth{ display: block; width: 100%; height: auto; }
.center{ width: 990px; margin: 0 auto; }
.columna{ width: 50%; float: left; }
.content{ padding: 40px 0; }
.section{ padding: 60px 0; }
#wrapper{ min-height: 100%; overflow: hidden; }

/* @end */

/* @group Estilos Editor */

div.texto{ font-size: 16px; line-height: 1.7; color: #69696d; }
div.texto .light{ color: #fff; }
div.texto hr{ margin-bottom: 20px; }
div.texto img{
	max-width: 100%;
	height: auto;
}
div.texto .noborder{ border: none !important; padding-bottom: 0 !important; }
div.texto .noborder:after{ background: none !important; }
div.texto img.alignleft{ margin: 0 15px 15px 0; }
div.texto img.alignright{ margin: 0 0 15px 15px; }
div.texto .titulo{}
div.texto p, div.texto h1, div.texto h2, div.texto h3,
div.texto h4, div.texto h5, div.texto h6{ padding-bottom: 15px; }
div.texto h1, div.texto h2, div.texto h3,
div.texto h4, div.texto h5, div.texto h6{ line-height: 1.4; }

div.texto h1{ font-size: 28px; }
div.texto h2{ font-size: 24px; }
div.texto h3{ font-size: 22px; }
div.texto h4{ font-size: 20px; }
div.texto h5{ font-size: 18px; }
div.texto h6{ font-size: 16px; }
div.texto h2 span{ font-weight: 300; }
div.texto a{ text-decoration: underline;  }
div.texto a:hover{ text-decoration: none; }
div.texto ul.nostyle li, div.texto ol.nostyle li{ list-style: none; }
div.texto ul, div.texto ol{ margin: 0 0 0 0; }
div.texto ul, div.texto ul li{ list-style: none; padding-bottom: 0px; position: relative; }
div.texto ul li{ list-style: inside; }
div.texto ol, div.texto ol li{ list-style-type: decimal; list-style-position: inside; padding-bottom: 10px; }
div.texto ul li:last-child{ padding-bottom: 0; }
div.texto ol ol{ list-style: upper-alpha; }
div.texto ol ol ol{ list-style: lower-roman; }
div.texto ol ol ol ol{ list-style: lower-alpha; }
div.texto ul ul, div.texto ol ol, div.texto ul ol, div.texto ol ul{ margin-bottom: 0; }
div.texto dl{ margin: 0 1.5em; }
div.texto dt{ font-weight: bold; }
div.texto dd { margin-bottom: 15px; }
div.texto blockquote em, div.texto blockquote i, div.texto blockquote cite{ font-style: italic; }
div.texto pre{ font: 11px/14px Monaco, monospace; overflow: hidden; }
div.texto code{ font: 11px Monaco, monospace; }
div.texto abbr, div.texto acronym{ border-bottom: 1px dotted; cursor: help; }
div.texto ins{ text-decoration: none; }
div.texto p, div.texto ul, div.texto ol, div.texto dd, div.texto pre, div.texto blockquote{
    padding-bottom: 15px;
}
div.texto p:last-child{ padding-bottom: 0; }
div.texto blockquote{ padding: 5px 5px 0px 40px; margin: 0 0 30px 0; border-left: 3px solid #929292; font-style: italic; color: #818181; }
div.texto blockquote cite:before{
	content: "\2014 \2009";
}
div.texto blockquote cite{ opacity: .85; }
div.texto blockquote ul{ padding-bottom: 0; }
div.texto blockquote p, div.texto blockquote ul li{ padding-bottom: 5px; }
div.texto pre, div.texto code{
	font: 12px/1.6 Monaco, monospace;
	margin-bottom: 20px;
	background: #F7F7F9;
	color: #666;
	border: 1px solid #ddd;
}
div.texto code {
	padding: 3px 5px;
}
div.texto pre{
	padding: 10px;
	line-height: 1.8;
	margin-bottom: 20px;
	overflow: auto;
	background: #F7F7F9;
	border: 1px solid #E1E1E8;
}
div.texto pre code{ border: 0; }
div.texto pre ol{ margin: 0 0 0 35px; padding: 0; list-style: decimal; list-style-position: outside; }
div.texto pre ol li{ padding-bottom: 0; list-style-position: outside;  }

div.texto table{ margin-top: 15px; text-align: center; border: 1px solid #ccc; }
div.texto table, div.texto table th, div.texto table td{ border: 1px solid #ccc; padding: 5px 10px; text-align: center; }
div.texto table th{ font-weight: bold; }
div.texto .gallery dl{ margin: 0; }
div.texto address{ font-style: italic; }

/* @end */

/* @group Header */

#header{
	background: #ccc;
	height: 77px;
	width: 100%;
	z-index: 1000;	
}
#proyecto-int #header{ height: 123px; }
#header h1.logo{ float: left; margin-top: 10px; }
#header nav{ float: right; }
#header nav ul li{ display: inline-block; }
#header nav ul li a{
	display: block;
	color: #165e7e;
	font-size: 16px;
	font-weight: 500;
	line-height: 72px;	
	padding: 0 15px;
	border-bottom: 5px solid transparent;	
}
#header nav ul li a:hover, #header nav ul li a.active{ color: #fff; }
#header nav ul li a.active{
	border-color: #165e7e;	
}
#header nav ul li a.active-oficinas{
	background: #154289;
	color: #fff;	
}
#header nav ul li a.active-stripcenter{
	color: #fff;
	background: #265d87;	
}

/* @end */

/* @group Masterslider */

#masterslider .ms-nav-prev,
#masterslider .ms-nav-next{
	width: 70px;
    height: 86px;
    margin-top: -43px;	
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
#masterslider .ms-nav-prev{ left: 0; background: #2957a0 url(../images/arrow-left.png) no-repeat center center; }
#masterslider .ms-nav-next{ right: 0; background: #2957a0 url(../images/arrow-right.png) no-repeat center center; }
#masterslider .ms-nav-prev:hover,
#masterslider .ms-nav-next:hover{
	background-color: #252525;	
}

#home #masterslider div.ms-caption{
	color: #fff;
	font-weight: 500;
	font-size: 34px;
	padding: 20px 30px;
	text-shadow: 0px 4px 5px rgba(0,0,0,.4);	
}

#proyecto-int #masterslider div.ms-caption{
	position: absolute;
	background: #154289;
	background: rgba(21,66,137,0.6);
	color: #fff;
	font-size: 27px;
	padding: 20px 30px;
	text-shadow: 0px 4px 5px rgba(0,0,0,.4);
}

/* @end */

/* @group Home */

/* top */

#top{
	position: relative;
	z-index: 1;

}
#home #top{

}
#top div.grid-container{ position: relative; z-index: 2; }
#top a.fono{
	position: absolute;
	left: 12%;
	top: 3%;
	z-index: 1000;
	font-weight: bold;
	color: #fff;
	padding-left: 30px;
	height: 32px;
	line-height: 32px;
	background: url(../images/icono-fono.png) no-repeat left center;
}
#top a.fono span{ margin-left: 20px; }
#top form{
	position: absolute;
	right: 0;
	top: 5%;
	z-index: 2;
	background: #154289;
	background: rgba(21,66,137,.55);
	padding: 20px;
	color: #fff;
}
#top form h3{
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 20px;	
}
#top form label, #top form .inputbox, #top form select{ color: #fff; border-color: #96a1b4; }
#top form ::-webkit-input-placeholder{ color: #fff; }
#top form ::-moz-placeholder{ color: #fff; }
#top form :-ms-input-placeholder{ color: #fff; }
#top form :-moz-placeholder{ color: #fff; }
#top form select option{ color: #000; }

/* Proyecto */

#proyecto{ padding-bottom: 0; }
#proyecto div.item{ margin: 60px 0; padding: 0 25px; }
#proyecto div.item h4{ font-size: 18px; }
#proyecto div.item p{ margin-top: 20px; line-height: 1.8; }
#proyecto div.info{ position: relative; z-index: 1; }
#proyecto div.info div.img{
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/proyecto.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;	
}
#proyecto div.info div.texto{
	padding: 75px 7.5%;
	background: #101010;
	color: #c2c2c2;	
}
#proyecto div.info div.texto h2{ color: #fff; }

/* Emplazamiento */

#emplazamiento{ text-align: center; }
#emplazamiento h2.titulo{ margin-bottom: 40px; }
#emplazamiento a.lightbox{ display: inline-block; position: relative; }
#emplazamiento a.lightbox:hover{ opacity: .7; }

/* Servicios */

#servicios{ background: #2957a0; padding: 35px 0; text-align: center; font-weight: 300; color: #85acea; font-size: 25px; }
#servicios div.item img{ display: block; margin: 0 auto 10px; }

/* Entorno */

.galeria div.panes{ max-width: 820px; margin: 0 auto; }

/* Tour 360 */

#tour{
	background: url(../images/bg-tour.jpg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;	
}
#tour .titulo{ color: #fff; }
#tour iframe{ display: block; margin: 20px auto; max-width: 100%; }

/* Ubicacion */

#ubicacion{ padding-bottom: 0; }
#ubicacion #map_canvas{ width: 100%; height: 470px; }

/* @end */

/* @group Proyecto Interior */

/* Submenu */

#proyecto-int div.submenu{ width: 100%; z-index: 1000; text-align: right; background: #154289; }
#proyecto-int div.submenu ul li{ display: inline-block; }
#proyecto-int div.submenu ul li a{
	display: block;
	color: #aaa;
	font-size: 16px;
	font-weight: 500;
	line-height: 45px;
	padding: 0 15px;
	border-bottom: 5px solid transparent;	
}
#proyecto-int div.submenu ul li a:hover, #proyecto-int div.submenu ul li a.active{ color: #fff; }

/* Descripcion */

#proyecto-int #descripcion{
	background: #232323;
	color: #ebebeb;	
}
#proyecto-int #descripcion h2.titulo{ color: #fff; margin-bottom: 60px; }
#proyecto-int #descripcion div.texto{ color: #ebebeb; }

/* Plantas */

#proyecto-int #plantas{ background: #ddd; }
#proyecto-int #plantas h2.titulo{ margin-bottom: 35px; }
#proyecto-int #plantas div.item{ margin-top: 6px; padding: 0 3px; }
#proyecto-int #plantas div.item a{ display: block; background: #fff; }
#proyecto-int #plantas div.item img{ display: block; margin: 0 auto 10px; width: auto; max-width: 100%; max-height: 300px; height: auto; }
#proyecto-int #plantas div.item div.bottom{ background: #e7e7e7; height: 50px; line-height: 50px; }
#proyecto-int #plantas div.item span.mt{ display: block; font-size: 21px; float: left; margin-left: 10px; color: #1a1a1a; }
#proyecto-int #plantas div.item span.cotizar{
	display: block;
	color: #0b306a;
	padding: 15px 25px;
	float: right;
	height: 20px;
	line-height: 20px;
	font-size: 21px;
	font-weight: bold;
	color: #0b306a;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;		
}
#proyecto-int #plantas div.item a:hover span.cotizar{
	background: #0b306a;
	color: #fff;	
}

/* Galeria */

#proyecto-int #galeria a.lightbox:hover img{ opacity: .7; }

/* Contacto */

#proyecto-int #contacto{ background: #fff; }
#proyecto-int #contacto h2.titulo{ margin-bottom: 60px; }
#proyecto-int #contacto div.info img{ width: 100%; height: auto; display: block; margin-bottom: 20px; }
#proyecto-int #contacto div.info h4{ font-size: 18px; font-weight: bold; margin-bottom: 5px; }
#proyecto-int #contacto div.info p{ font-size: 14px; }
#proyecto-int #contacto div.info .right{ float: right; text-align: right; }
#proyecto-int #contacto form{ float: right; }
#proyecto-int #contacto form h3{ color: #333; font-size: 18px; font-weight: bold; margin-bottom: 30px; }

/* Stripcenter */

.stripcenter .fancybox-prev span,
.stripcenter .fancybox-next span,
#proyecto-int.stripcenter .button,
#proyecto-int.stripcenter .slick-prev,
#proyecto-int.stripcenter .slick-next,
#proyecto-int.stripcenter .fancybox-prev span,
#proyecto-int.stripcenter .fancybox-next span,
#proyecto-int.stripcenter .ms-nav-prev,
#proyecto-int.stripcenter .ms-nav-next{
	background-color: #265d87;
}

.stripcenter .fancybox-prev:hover span,
.stripcenter .fancybox-next:hover span,
#proyecto-int.stripcenter .button:hover,
#proyecto-int.stripcenter .slick-prev:hover,
#proyecto-int.stripcenter .slick-next:hover,
#proyecto-int.stripcenter .fancybox-prev:hover span,
#proyecto-int.stripcenter .fancybox-next:hover span,
#proyecto-int.stripcenter .ms-nav-prev:hover,
#proyecto-int.stripcenter .ms-nav-next:hover{
	background-color: #252525;
}
#proyecto-int.stripcenter #masterslider div.ms-caption{
	background: #265d87;
	background: rgba(219,155,22,.6);	
}
#proyecto-int.stripcenter ul.tabs li a{ color: #232323; }
#proyecto-int.stripcenter ul.tabs li a.current{ color: #fff; background: #265d87; }
#proyecto-int.stripcenter div.submenu{ background: #265d87; }
#proyecto-int.stripcenter div.submenu ul li a{ color: #ccc; }
#proyecto-int.stripcenter div.submenu ul li a.active,
#proyecto-int.stripcenter div.submenu ul li a:hover{ color: #fff; }
#proyecto-int.stripcenter #descripcion div.texto{ color: #868686; }

#proyecto-int.stripcenter #plantas{ background: #fff; text-align: center; }
#proyecto-int.stripcenter #plantas div.tab > div{ display: block; margin: 0 auto; }
#proyecto-int.stripcenter #plantas div.tab img.mapa{ max-width: 100%; height: auto; }

/* @end */

/* @group Lightbox (plantas) */

#lightbox h2.titulo{ margin: 60px 0 30px; }
#lightbox div.info{ margin-top: 0px; }
#lightbox div.info h3.titulo{ text-align: left; }
#lightbox div.info a.pdf{ font-weight: bold; }
#lightbox div.info img.emplazamiento{ margin-top: 50px; }
#lightbox div.info ul li{ font-size: 18px; margin-bottom: 5px; }
#lightbox div.info ul{ margin-bottom: 15px; }
#lightbox form{ margin: 70px 0 35px; }
#lightbox form h3{ font-size: 22px; font-weight: normal; margin-bottom: 15px; }
#lightbox form textarea{ height: 96px; }
#lightbox form .submit{ margin-top: 0; }
#lightbox.stripcenter a{ color: #f47300; }
#lightbox.stripcenter .button{
	background-color: #f47300;	
}
#lightbox.stripcenter .button:hover{
	background-color: #252525;	
}

/* @end */

/* @group Footer */

#footer{
	color: #9a9a9a;
	text-align: center;
	padding: 45px 0;
	font-size: 12px;
	background: url(../images/bg-footer.jpg) no-repeat center center;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}
#footer.stripcenter{ background: url(../images/stripcenter-footer.jpg) no-repeat center center; }
#footer h3{ font-size: 19px; font-weight: 300; color: #fff; }
#footer ul{ margin: 40px 0; }
#footer ul li{ display: inline; margin: 0 40px; }
#footer h4{ font-size: 16px; color: #fff; font-weight: normal; margin-bottom: 15px; }

/* @end */
